<html>
    <head>
        <link rel="stylesheet" href="/css/site.css">
    </head>

    <body>
        
        <div class = "form">
            <link rel="stylesheet" href="/css/site.css">
            <h1 class="title">Add Movie</h1>
            <form action="../movies/add" method="post">
                <label for="movieName">Movie Title:</label>
                <input type="text" name="movieName">
                <label for="directorName">Director:</label>
                <input type="text" name="directorName">
                <input type="submit" value="Add Movie">
            </form>
            <a href="/movies" class="button">Back to Movie List</a>
        </div>

    </body>

</html>