<html>
    <head>
        <link rel="stylesheet" href="/css/site.css">

    </head>
    <body>
        <div class = "home">
            <h1>Welcome to the Movie List App</h1>
            <a href="/movies" class="button">View Movie List</a>
        </div>

    </body>

</html>