<!DOCTYPE html>
<html>
<head>
  <title>Popis filmova</title>
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  <div class="container">
    <h1 class="title">Movie List</h1>
    <a href="/movies/add" class="button">Add New Movie</a>

    <% if (movies.length === 0) { %>
      <p>Nema spremljenih filmova.</p>
    <% } else { %>
      <% movies.forEach(movie => { %>
        <div class="movie-card">
          <div>
            <strong><%= movie.movieName %></strong> directed by <%= movie.directorName %>
          </div>
          <form action="/movies/delete/<%= movie.id %>" method="POST">
            <input type="submit" value="Delete" class="delete-button">
          </form>
        </div>
      <% }); %>
    <% } %>

    <a href="/" class="button">Home</a>
  </div>
</body>
</html>
