<!-- <footer class="footer">
   <a href="#kontakt" class="footer-button">Kontakt</a>
   <a href="#newsletter" class="footer-button">Newsletter</a>
   <a href="#pretplati-se" class="footer-button">Pretplati se</a>
</footer> -->
